@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-Regular.ttf);
}
:root {
  --bg-color-body: #e0e4e8;
  --bg-color-HF: #f8f8f8;
  --font-color: #193251;
  --font-color-table: #7589a2;
  --color-rating-100: #ff5a36;
  --color-rating-75: #ff9c86;
  --color-rating-50: #ffbdaf;
  --color-rating-25: #ffded7;
  --border-thin: 1px solid #e0e4e8;
  --border-thick: 1px solid #7589a2;
  --box-shadow-grey: 0px 2px 11px rgba(25, 50, 81, 0.2);
  --box-shadow-tangerine: 0px 4px 10px rgba(255, 90, 54, 0.4);
  --border-radius: 10px;
}
h2 {
  font-family: "Open Sans", "sans serif";
  color: var(--font-color);
  font-size: 18px;
  margin-top: 50px;
}
h3 {
  font-family: "Open Sans";
  color: var(--font-color-table);
  font-size: 16px;
  font-weight: lighter;
  margin-top: 25px;
}
p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
}
.motto-text {
  font-family: "Open Sans";
  font-weight: bold;
}
.journal {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
label {
  color: var(--font-color);
  font-size: 16px;
}
textarea {
  display: flex;
  border: var(--border-thin);
  border-radius: 3px;
  resize: none;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.orange-button {
  background-color: var(--color-rating-100);
  color: #fff;
}
.white-button {
  background-color: #fff;
  color: var(--font-color);
}
button {
  width: 40vw;
  border: none;
  padding: 2vw;
  border-radius: 3px;
  margin-top: 4vw;
  text-align: center;
}
.button-top {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.rate-today-button {
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}
.rating-star {
  display: flex;
  gap: 2vw;
  list-style-type: none;
}
.comprehension-box {
  display: flex;
  gap: 1vw;
  list-style-type: none;
}
#star-in-button {
  width: 3vw;
  padding-left: 1vw;
}
.motto-text::before {
  content: '"';
}
.motto-text::after {
  content: '"';
}
