@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "base.css";

/* Teams */

.TeamsContainer {
  padding: 4em;
  display: flex;
  flex-direction: column;
}
.Team {
  position: relative;
  text-align: center;
  list-style: none;
}
.Name,
.NameTop,
.NameBottom {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--font-color);
  display: block;
  padding: 1em;
  border: var(--border-thin);
  font-family: var(--font-body-large);
}
.NameTop {
  border-radius: 6px 6px 0px 0px;
}
.NameBottom {
  border-radius: 0px 0px 6px 6px;
}
.Team1Header,
.Team2Header {
  color: var(--font-color);
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  font-family: var(--font-headline-uppercase);
}
.Team1Header {
  position: absolute;
  top: 4.3em;
  left: 8em;
}

.Team2Header {
  position: absolute;
  top: 23em;
  left: 8em;
}

/* Energy */

.EnergyContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
}

.Button {
  position: static;
  margin: 8px 0px;
  width: 315px;
  height: 48px;
  border-radius: 4px;
  border: 0px;
}
.Rating100 {
  background-color: var(--color-rating-100);
  top: 56;
}
.Rating75 {
  background-color: var(--color-rating-75);
  top: 115px;
  order: 1;
}
.Rating50 {
  background-color: var(--color-rating-50);
  top: 171px;
  order: 2;
}
.Rating25 {
  background-color: var(--color-rating-25);
  order: 3;
}
