* {
  box-sizing: border-box;
}

html {
  width: 375px;
  height: 711px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
:root {
  --bg-color-body: #e0e4e8;
  --bg-color-HF: #f8f8f8;
  --font-color: #193251;
  --font-color-table: #7589a2;
  --font-size-table: 16px;
  --font-weight-table: bold;
  --font-family: Open sans;
  --color-rating-100: #ff5a36;
  --color-rating-75: #ff9c86;
  --color-rating-50: #ffbdaf;
  --color-rating-25: #ffded7;
  --border-thin: 1px solid #e0e4e8;
  --border-thick: 1px solid #7589a2;
  --box-shadow-grey: 0px 2px 11px rgba(25, 50, 81, 0.2);
  --box-shadow-tangerine: 0px 4px 10px rgba(255, 90, 54, 0.4);
  --border-radius: 10px;
}

.buddyContainer {
  margin: 114px 70px 114px 70px;
}

ul {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 20px;
}

li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  border: var(--border-thick);
  color: var(--font-color-table);
  font-size: var(--font-size-table);
  font-family: var(--font-family);
  font-weight: var(--font-weight-table);
  padding-top: 18px;
  padding-bottom: 15px;
}

.codeBudTop {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.codeBudBottom {
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.plusIcon {
  position: absolute;
  top: 41%;
  left: 45%;
  content: url(/images/plusIcon.png);
}
h2 {
  font-family: "Open Sans", "sans serif";
  color: var(--font-color);
  font-size: 18px;
  margin-top: 50px;
}
h3 {
  font-family: "Open Sans";
  color: var(--font-color-table);
  font-size: 16px;
  font-weight: lighter;
  margin-top: 25px;
}
p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
}
.motto-text {
  font-family: "Open Sans";
  font-weight: bold;
}
.journal {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
label {
  color: var(--font-color);
  font-size: 16px;
}
textarea {
  display: flex;
  border: var(--border-thin);
  border-radius: 3px;
  resize: none;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.orange-button {
  background-color: var(--color-rating-100);
  color: #fff;
}
.white-button {
  background-color: #fff;
  color: var(--font-color);
}
button {
  width: 40vw;
  border: none;
  padding: 2vw;
  border-radius: 3px;
  margin-top: 4vw;
  text-align: center;
}
.button-top {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.rate-today-button {
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}
.rating-star {
  display: flex;
  gap: 2vw;
  list-style-type: none;
}
.comprehension-box {
  display: flex;
  gap: 1vw;
  list-style-type: none;
}
#star-in-button {
  width: 3vw;
  padding-left: 1vw;
}
.motto-text::before {
  content: '"';
}
.motto-text::after {
  content: '"';
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import "base.css";

/* Teams */

.TeamsContainer {
  padding: 4em;
  display: flex;
  flex-direction: column;
}
.Team {
  position: relative;
  text-align: center;
  list-style: none;
}
.Name,
.NameTop,
.NameBottom {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--font-color);
  display: block;
  padding: 1em;
  border: var(--border-thin);
  font-family: var(--font-body-large);
}
.NameTop {
  border-radius: 6px 6px 0px 0px;
}
.NameBottom {
  border-radius: 0px 0px 6px 6px;
}
.Team1Header,
.Team2Header {
  color: var(--font-color);
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  font-family: var(--font-headline-uppercase);
}
.Team1Header {
  position: absolute;
  top: 4.3em;
  left: 8em;
}

.Team2Header {
  position: absolute;
  top: 23em;
  left: 8em;
}

/* Energy */

.EnergyContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
}

.Button {
  position: static;
  margin: 8px 0px;
  width: 315px;
  height: 48px;
  border-radius: 4px;
  border: 0px;
}
.Rating100 {
  background-color: var(--color-rating-100);
  top: 56;
}
.Rating75 {
  background-color: var(--color-rating-75);
  top: 115px;
  order: 1;
}
.Rating50 {
  background-color: var(--color-rating-50);
  top: 171px;
  order: 2;
}
.Rating25 {
  background-color: var(--color-rating-25);
  order: 3;
}
